body {
    font-family: Arial;
    margin: 0;
  }
  .pos{
    position: absolute;
    right: 14px;
    top: 180px;
  }

  .ext{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .left{
    margin-left: 30px;
    float: left;
  }
  .right{
    margin-right: 30px;
    float: right;
  }

  .header {
    padding: 8px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

table {
    margin: 80px auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .setbuttons{
    margin: 40px auto;
    text-align: center;
  }


.button {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

 .buttonsp{
   position: absolute;
   right: 280px;
   background-color: #1abc9c;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }
