
body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 8px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

table {
  margin-top: 40px;
  margin: 40px auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
